<header>
  <nav>
    <ul>
      <li>
        <a href="">
          <h1><i class="fas fa-dog"></i> Dogs Gallery</h1>
        </a>
      </li>
      <li>
        <input #s class="search" type="text" placeholder="Write your search here" (input)="search(s.value)">
      </li>
    </ul>
  </nav>
</header>
<div *ngIf="!searched">
  <dogs-list *ngFor="let dogsList of dogsLists" [dogsList]="dogsList"></dogs-list>
</div>
<div *ngIf="searched">
  <dogs-search [dogs]="dogsResult"></dogs-search>
</div>




