section {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

img {
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

aside {

}

h1.detail {
  color: #E5E7E9;
  font-size: 30px;
  padding: 10px;
  background-color: #E67E22;
  border-radius: 5px;
  text-align: center;
}

article {
  background-color: #E5E7E9;
  width: 42%;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 560px;
  padding: 20px;
}

td {
  height: 30px;
}

.label {
  width: 150px;
  color: #34495E;
}

.content {
  background-color: #FCF3CF;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

li {
  list-style-type: none;
}

nav {
  background-color: #283747;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: -10px;
  padding: 0;
  width: 100%;
}
